body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: aquamarine;
    text-align: center;
}
.container{
    background-color:bisque;
    border-radius: 20px;
    padding: 20px;
    margin-top: 50px;
    margin:50px auto;
    width: 500px;
}
h1{
    color: blueviolet;
}
.buttons{
    margin: 20px 0;
}
button{
    font-size: 18px;
    margin: 7px;
    border-radius: 5px;
    border: none;
}
.S{
    background-color: chocolate;
}
.P{
    background-color: yellow;
}
.R{
    background-color: violet;
}
button:hover{
    opacity: 0.8;
}